.row.valign-wrapper
  .col.s9
    %h3.valign
      %strong= @person.first_name + " " + @person.last_name
      \ // Quotes
  .col.s3
    %a.btn.waves-effect.waves-light.right.valign{:href => new_person_quote_path(@person.id)} Add quote
%hr

.row
  %table.highlight
    %thead
      %tr
        %td
          %h5 Quote

    %tbody
      - @quotes.each do |quote|
        %tr
          %td.flow-text= quote.text
          %td=link_to "Edit", edit_quote_path(quote), class: "active"
          %td=link_to "Delete", quote_path(quote), :method => :delete, class: "active"
