.row.valign-wrapper
  .col.s9
    %h3.valign
      %strong= @person.first_name + " " + @person.last_name
      \ // Quotes
  .col.s3
    %a.btn.waves-effect.waves-light.right.valign{:href => new_person_quote_path(@person.id)} Add quote
%hr

.row
  %table.highlight
    %thead
      %tr
        %td Quote

    %tbody
      - @quotes.each do |quote|
        %tr
          %td= quote.text
