#get-started-box
  %h1.center-align Get Started
  .flow-text.left-align
    Pithy is a witty bot which inserts quotes from your favorite leaders straight into your Slack conversations. For example, if you type `/pithy churchill`, Pithy might respond:
  %blockquote.left-align
    %a#intro-link{:href => ""} As Winston Churchill would say ...
    %p#intro-quote
      History will be kind to me for I intend to write it.
  .flow-text#second-para.left-align
    Other commands you can give Pithy in Slack are:
    .col.s11.offset-s1
      %ul
        %li.flow-text
          * `/pithy help` - For a list of commands within you can use in Slack
        %li.flow-text
          * `/pithy people` - For a list of people you can get quotes from
  .flow-text.left-align
    Pithy is a community-driven project, so create an account, and add your top quotes.
  %br
  %h4 Make your Slack conversations pithy.
