.row
  .col.s12
    %h3 Pithy Help Center
    .col.s12#help-intro
      %p.flow-text
        Pithy is a witty bot which inserts quotes from your favorite leaders straight into your Slack conversations. Here's what you need to know about Pithy:
        .col.s10.offset-s1
          %ul
            %li.flow-text * Pithy is free
            %li.flow-text * We don't send you emails and
            %li.flow-text * Will never sell or share your data
      .col.s12#help-intro
        %p.flow-text
          Pithy is a community-driven project, so feel free to create an account, add your favourite leaders and quotes. If you have any feedback or ideas for improvements, please send them to
          = mail_to "hello@itspithy.com"

%hr
.row
  .col.s12
    %h4 FAQs
    %br
    %h5 How do I add Pithy to Slack?
    %p.flow-text Simply click on the "Add to Slack" button on the homepage.
    %h5 How do I remove Pithy from my Slack team?
    %p.flow-text Log into Slack on the web. Click on your your team name in the top left corner, then select "Apps & integrations". Then click "manage" in the top right hand corner to find a list of all the apps you have installed. Look for Pithy, click on it, and then click "Remove App".
