// Nav Styling

#logo {
  margin-left: 0.7em;
  padding-top: 0.3em;
}

#dropdown1 {
  margin-top: 64px;
}

// Welcome styling

#welcome-quote {
  margin-top: 6em;
}

#add-to-slack {
  margin-top: 3em;
  margin-bottom: 10em;
}
