%footer.page-footer
  .container
    .row
      .col.l6.s4.offset-s4
        %ul#footer-content
          %li
            %a.grey-text.text-lighten-4.center-align{:href => "static/help"} Help
          %li
            %a.grey-text.text-lighten-4{:href => "/static/privacy-policy"} Privacy Policy
  .footer-copyright
    .container
      © 2016 Copyright Text
