%footer.page-footer
  .container
    .row
      .col.l6.s12
        %ul#footer-content
          %li
            %a.grey-text.text-lighten-4{:href => static_path("help") } Help
          %li
            %a.grey-text.text-lighten-4{:href => static_path("privacy-policy")} Privacy Policy
  .footer-copyright
    .container
      © 2016 Copyright Text
